<h2>New Book</h2>

<!-- We create a form - taks an action which is where our
url goes to. Action tells us where to go to, and method we
set to POST since in our route we set it to be a post route, 
so we need to send a POST request to the server-->
<form action="/books" method="POST" enctype="multipart/form-data">

    <%- include('_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>