<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Before
    <br>
    <!-- this body section imports everything from every single page from our app
    this makes developing our app easier as if we want to make any changes we only need
    to make changes in one file -->
    <%- body %> 
    <br>
    After
</body>
</html>